<!DOCTYPE html>
<html>
    <head>
        <title>Todo App</title>
    </head>
    <body>

        <h1>Todo App</h1>

        <form method="post" action="/add">
            <input name="task" placeholder="新しいタスク">
            <button type="submit">追加</button>

        </form>

        <ul>
            {% for task in tasks%}
            <li>
                {{ task[1] }}

                <a href="/delete/{{ task[0] }}">削除</a>

            </li>
            {% endfor %}

        </ul>
    </body>
</html>